*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Scroll Bar */

/* For Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #222 #393E46;
}

/* For Chrome, Edge, Safari */
*::-webkit-scrollbar {
    width: 12px;
}
  
*::-webkit-scrollbar-track {
    background: orange;
}
  
*::-webkit-scrollbar-thumb {
    background-color: #393E46;
    border-radius: 20px;
    border: 3px solid #222;
}
/* End of Scroll Bar */

body {
    font-family: 'Poppins', sans-serif;
    color: #FFF;
}

.navbar {
    position: absolute;
    top: 0;
    margin-top: 1.5rem;
}

.navbar ul {
    display: flex;
    gap: 5rem;
}

.navbar li, .slider li {
    list-style: none;
}

.navbar a {
    text-decoration: none;
    font-weight: 500;
    color: #DDD;
    transition: 0.4s;
}

.navbar a:hover {
    color: #30475E;
}

.slider {
    display: none;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.slider a {
    padding: 10px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.slider a:hover {
    color: #f1f1f1;
}

.slider .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
}

header {
    min-height: 100vh;
    width: 100%;
    background: url(../images/ahmad-nabili-wANOyJD6QP8-unsplash.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 2rem;
}

header h1 {
    font-size: 100px;
    font-family: 'Tangerine', sans-serif;
}

header p {
    margin-top: 1rem;
    font-size: 25px;
}

header img.head1 {
    position: absolute;
    width: 7%;
    top: 0;
    left: 0;
    transform: translateX(30%);
}

header img.head2 {
    position: absolute;
    width: 5%;
    top: 0;
    left: 0;
    transform: translateX(250%);
}

a.head-btn {
    margin-top: 1rem;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    padding: 10px 15px;
    background-color: #30475E;
    color: #DDD;
    border-radius: 10px;
    transition: 0.4s;
}

a.head-btn:hover {
    background-color: #DDD;
    color: #30475E;
}

main {
    background: #2C394B;
}

.niat-doa {
    height: 100vh;
    width: 100%;
    background: #222831;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 3rem;
}

.niat, .buka-puasa {
    text-align: center;
}

.buka-puasa {
    margin-top: 10vh;
}

.niat h2, .buka-puasa h2 {
    letter-spacing: 0.3rem;
    font-size: 30px;
}

.niat p, .buka-puasa p {
    margin-top: 0.5rem;
}

p.arabic {
    margin-top: 1.5rem;
    font-family: 'Noto Naskh Arabic', sans-serif;
    font-size: 35px;
}

p.latin, p.artinya {
    font-size: 18px;
}

.amalan {
    min-height: 100vh;
    width: 100%;
    background: #2C394B;
    padding: 4rem 2rem;
}

.amalan h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 5rem;
}

.gap {
    margin-bottom: 5rem;
}

.content {
    display: flex;
    gap: 1rem;
}

.content-reverse {
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
}

.content-reverse .main-content {
    text-align: end;
}

img.content-img {
    width: 20rem;
    border-radius: 20px;
    transition: transform 0.4s ease-in-out;
}

img.content-img:hover {
    transform: scale(1.1);
}

h3.content-title {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 1rem;
}

p.arabic-content {
    font-family: 'Noto Naskh Arabic', sans-serif;
    font-size: 22px;
}

.about {
    margin-top: 5rem;
    width: 100%;
    min-height: 50vh;
    background: #222831;
    border-radius: 20% 20% 0 0;
    padding: 3rem 2rem;
    text-align: center;
}

.about h2 {
    font-size: 2em;
    letter-spacing: 0.1em;
    margin-bottom: 3rem;
}

p.head-p {
    font-size: 20px;
    letter-spacing: 0.1rem;
}

.contact {
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
    padding: 0 10rem;
}

.contact a {
    text-decoration: none;
    font-size: 1.5em;
    color: #DDD;
    transition: 0.4s
}

.contact a:hover {
    text-shadow: 2px 2px 10px rgba(0,0,0,0.8);
    transform: translateY(-10px);
}

.contact i {
    font-size: 1.2em;
    margin-right: 0.5rem;
}

.hr-line {
    margin-top: 1rem;
    border-bottom: 2px solid #DDD;
}

p.about-foot {
    margin: 2rem 0;
    font-size: 1.3em;
}

footer {
    min-height: 5vh;
    width: 100%;
    background-color: #191919;
    padding: 1rem;
    text-align: center;
    color: #DFDFDF;
}

footer i {
    color: red;
}

@media (max-width: 850px) {
    .content, .content-reverse, .contact {
        flex-wrap: wrap; 
    }

    .main-content {
        padding: 0 2rem;
    }
}

@media (max-width: 720px) {
    .niat h2, .buka-puasa h2, .amalan h2 {
        font-size: 20px;
    }

    p.arabic {
        font-size: 25px;
    }
    
    p.latin, p.artinya {
        font-size: 15px;
    }

    .contact {
        padding: 1rem;
    }
}

@media (max-width: 710px) {
    .navbar {
        display: none;
    }

    .slider, .openbtn {
        display: block;
    }

    .openbtn {
        width: unset;
        margin: 2rem 2rem 0 0;
    }
}

@media (max-width: 480px) {
    .niat-doa {
        height: 140vh;
    }

    h3.content-title {
        font-size: 20px;
    }
    
    p.arabic-content {
        font-size: 18px;
    }

    .main-content p {
        font-size: 18px;
    }
}

@media (max-width: 440px) {
    .content-reverse {
        flex-direction: unset;
    }

    .content-reverse .main-content {
        text-align: left;
    }
}

@media (max-width: 421px) {
    img.content-img {
        width: 18rem;
    }

    p.about-foot {
        font-size: 1em;
    }

    footer p {
        font-size: 80%;
    }
}

@media (max-width: 389px) {
    img.content-img {
        width: 16rem;
    }

    .contact {
        flex-direction: column;
        gap: 1rem;
    }
}
